.controllers {
	display: flex;
	justify-content: space-between;
	color: var(--text-light-color);

	&__session > div,
	&__break > div {
		display: flex;
		justify-content: center;
	}
}

#session-length,
#break-length {
	font-size: var(--font-size-normal);
	color: var(--text-light-color);
}

svg {
	color: var(--text-light-color) !important;
}
