:root {
	--title-size: 4rem;
	--subtitle-size: 1.65rem;
	--font-size-normal: 1.5rem;
	--font-size-main: 2.5rem;
	--bg-light-color: #b4a5a5;
	--text-light-color: #3c415c;
	--border-light-color: #301b3f;
}
